body {
  font-family: "Arial", "Meiryo", "sans-serif";
  text-align: center;
}
html {
  font-size: 20px;
}
.blue {
color: skyblue;
}
.pink {
  color: rgb(255,192,203);
}
.google-fonts{
  font-family: "JosefinSans", sans-serif;
}
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 4px gray;
  border-bottom: 3px solid rgb(115,115,114);
}
.bold {
  font-weight: bold;
}
.name,
.birthdate,
.blood-type {
  font-weight: bold;
}